
// set your custom colors here
$siteBgColorCustom: #d9dedf;
$sidebarBgColorCustom: #d9dedf;
$textColorCustom: #404040;
$sidebarTextColorCustom: #2c2857;
$headlineColorCustom: #516DB0;
$headingColorCustom: #516DB0;
$bodyLinkColorCustom: #516DB0;
$navLinkColorCustom: #1b308f;
$sidebarLinkColorCustom: #2c2857;
$footerTextColorCustom: #706E6C;
$buttonTextColorCustom: #d9dedf;
$buttonHoverTextColorCustom: #d9dedf;
$buttonBgColorCustom: #516DB0;
$buttonHoverBgColorCustom: #2c2857;
$borderColorCustom: #B4C0DD;
