{{ define "main" }}
<main class="page-main pa4" role="main">
    {{ $caller := . }}
    {{ range $taxonomyname, $taxonomy := index .Site.Taxonomies }}
    {{ if eq "tags" $taxonomyname }}
    {{ range $key, $value := $taxonomy }}
  <section class="blog-intro mw7 left mb3 ">
    <h3 class="f3 mt5 mb2 ml5 lh-title  fw6">{{ replace $key "-" " " | humanize }}</h3>
  </section>
  <div class="flex-l items-center">
  <section class="blog-intro mw7 left mb5 ">
  </section>
  <section class="blog-content mw7  center ml7 mt2">
        {{ range ($value.Pages).ByDate.Reverse }}
        {{ .Scratch.Set "$root" $caller }}
        {{ partial "shared/summary" . }}
      {{ end }}
  </section>
  </div>
  {{ end }}
  {{ end }}
  {{ end }}
  {{ partial "shared/list-pagination.html" . }}
</main>
{{ end }}
