{{ define "main" }}
{{ $page := . }}
<main class="page-main pa4" role="main">
  <section class="page-content mw9 center">
    <div class="flex-l items-center" style="{{ if .Params.image_right }}flex-direction: row-reverse;{{ end }}">
      <div class="tr w-30-l {{ if .Params.image_right }}mr4{{ else }}ml4{{ end }}">
      <div class="pt3 pb1 pb2-ns tc ph4">
        <div class="pt3 pb1 pb2-ns tl ph4">
        <h2 class="f2 f2-m fw1-ns mv1 lh-solid" style="margin-top:-10px;">{{ .Params.title }}</h2>
        </div>
      {{ with .Params.images }}
        {{ range first 1 . }}<img class="mv0 w-70-m" src="{{ . }}" style="width:80%;lenght:80%"/>{{ end }}
      {{ end }}
      {{ with .Params.title }}<h1 class="f2 f2-m fw1-ns mv1 lh-solid">{{ . }}</h1>{{ end }}
      </div>
      </div>
      <div class="mh4 w-70-l {{ if not .Params.text_align_left }}tr{{ end }}">
        {{ if .Params.show_social_links }}{{ partial "shared/social-links.html" . }}{{ end }}
       {{ with .Content}}
        <div class="pt2 f5 measure-wide lh-copy dib">{{ . | markdownify }}</div>
      {{ end }}
      {{ if .Params.show_contact }}<a class="mt4 action text" style="margin-bottom:10px;margin-top:60px">Contact:</a>
      <span id="person-email"><a  href={{ .Params.email_link }}>{{ .Params.email_label | safeHTML }}</a></span>{{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}
