{{ define "main" }}
{{ $page := . }}
<main class="page-main pa4" role="main">
  <section class="blog-intro mw7 left mb3 ">
    {{ if .Title }}
    <h3 class="f3 mt2 mb2 ml5 lh-title fw6">{{ .Title | markdownify }}</h3>
    {{ else }}
      <p style="margin-bottom:1.45cm;">
    {{ end }}
  </section>
  <div class="flex-l items-center">
  <section class="blog-intro mw7 left mb1 mt3 ">
    {{ with .Params.images }}
        {{ range first 1 . }}<img class="mv0 w-70-m ml5" src="{{ . }}" style="max-width: 225px;"/>{{ end }}
        {{ end }}
  </section>
  <section class="blog-content mw7  {{ if .Params.images }}left ml3{{ else }}center ml7{{ end }} mt4">
        {{ if .Params.show_social_links }}{{ partial "shared/social-links.html" . }}{{ end }}
       {{ with .Content}}
        <div class="pt2 f5 mw7 lh-copy dib">{{ . | markdownify }}</div>
      {{ end }}
      {{ if .Params.show_contact }}<a class="mt4 action text" style="margin-bottom:10px;margin-top:20px">Contact:</a>
      <span id="person-email"><a  href={{ .Params.email_link }}>{{ .Params.email_label | safeHTML }}</a></span>{{ end }}
  </section>
  </div>
</main>
{{ end }}
