<div class="solow-container">
  <!--<h2>Solow Growth Model</h2>-->

\[
y_t = k_t^α
\]
\[
k_{t+1}-k_{t} = s k_t^\alpha - (n + δ)k_t
\]
  <div class="controls">
    <label>
      Savings rate (s): <span id="s-val"></span><br>
      <input type="range" id="s" min="0.05" max="0.6" step="0.01" value="0.2"><br>
    </label>

    <label>
      Population growth (n): <span id="n-val"></span><br>
      <input type="range" id="n" min="0" max="0.05" step="0.001" value="0.02"><br>
    </label>

    <label>
      Depreciation (δ): <span id="d-val"></span><br>
      <input type="range" id="d" min="0.01" max="0.1" step="0.005" value="0.05"><br>
    </label>

    <label>
      Capital share (α): <span id="a-val"></span><br>
      <input type="range" id="a" min="0.1" max="0.6" step="0.01" value="0.33"><br>
    </label>
    <label>
  Initial capital (k₀): <span id="k0-val"></span><br>
  <input type="range" id="k0" min="0.05" max="10" step="0.05" value="0.2">
</label><br>
  </div>

<canvas id="solowChart"></canvas>
<canvas id="capitalChart"></canvas>
<canvas id="consumptionChart"></canvas>
  
</div>

<link rel="stylesheet" href="/css/solow.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/solow.js"></script>
